.col-tel {
  //margin-top: 50%;
}

.col-phone {
  border: transparent;
  //border: 1px solid;
  // background-color: lightgrey;
}

.row {
  border: transparent;
  // background-color: lightgrey;
  //border: 1px solid;
  //border-top-left-radius: 15px;
  //border-bottom-left-radius: 15px
}

.button-dev {
  display: flex;
  justify-content: center;
}

.h2-style {
  margin-top: 30%;
}
