<ion-header>
    <ion-toolbar>
        <ion-title>Register - Users</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list class="ion-padding-horizontal ion-text-center">
        <div>
            <img src="assets/images/vitle.png" width="25%">
        </div>
        <h2 color="light" ion-text>

        </h2>
    </ion-list>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="registerData.name" max="20" min="6" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input [(ngModel)]="registerData.phone" max="20" min="6" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="registerData.password" max="20" min="6" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Re-Password</ion-label>
                <ion-input [(ngModel)]="registerData.password_check" max="20" min="6" type="password"></ion-input>
            </ion-item>

            <ion-button (click)="userRegister()" expand="block">Registration</ion-button>

        </ion-card-content>


        <p class="ion-text-center" style="text-align: center;margin: 15%;">do yo have a account?<a href="login"><b
                class="ion-text-center">Login Now</b></a></p>

    </ion-card>
</ion-content>
