<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/home-corona">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">corona-details</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">
    <!-- card with header and title inside having images with title and subtitle on it with iterations -->
    <ion-card>
        <img src="assets/images/c1.png"/>
        <ion-card-header>
            <ion-card-title>Basic protective measures against the new coronavirus
            </ion-card-title>
            <ion-card-subtitle>Wash your hands frequently
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    frameborder="0"
                    height="315"
                    src="https://www.youtube-nocookie.com/embed/bPITHEiFWLc" width="560"></iframe>
            <div>
                <p><b>Wash your hands frequently</b>
                </p>
                <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and
                    water.</p>

                <p><b>Why?</b> Washing your hands with soap and water or using alcohol-based hand rub kills viruses that
                    may be on
                    your hands.
                </p>
                <p><b>Maintain social distancing</b>
                    Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.
                </p>
                <p><b>Why?</b> When someone coughs or sneezes they spray small liquid droplets from their nose or mouth
                    which may
                    contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus
                    if the
                    person coughing has the disease.</p>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>

