<ion-header>
    <ion-toolbar>
        <ion-title>ambulance</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapId" style="width: 100%; height: 70%">
    </div>

    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="name" [(ngModel)]="locData.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="address" [(ngModel)]="locData.address"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="sendRequest()">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Accept</div>
        </ion-button>
    </ion-list>

</ion-content>
