<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/emergency-pages-request">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Em Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!emergency">
    <div class="ion-padding ion-color-success">
        <ion-skeleton-text animated class="ion-color-success" style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated class="ion-color-success"></ion-skeleton-text>
        <ion-skeleton-text animated class="ion-color-success" style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
</ion-content>

<ion-content *ngIf="emergency" class="ion-no-padding">
    <ion-card>
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{emergency?.user?.image}}"/>
            </ion-avatar>
            <ion-label>
                <h3>Create by: DR. {{emergency?.user?.name}}</h3>
                <!--                <p>{{item.dob}}</p>-->
            </ion-label>
        </ion-item>

        <ion-card-content>
            <h2>Name: {{emergency?.name}}</h2>
            <h3>Type: {{emergency?.type}}</h3>
            <h3> Price : {{emergency?.price_per_day}}</h3>
            <p>Address: {{emergency?.address}}</p>
            <p>contact: {{emergency?.contact}}</p>
            <p>Post at: {{emergency?.created_at}}</p>
            <p>Last update at: {{emergency?.updated_at}}</p>

        </ion-card-content>
        <ion-row>
            <ion-col class="ion-no-padding" size="6">
                <ion-button color="primary" fill="outline" size="small">
                    Order #:{{emergency?.id}}
                </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding" size="6">
                <ion-button fill="outline" size="small">
                    Available: {{emergency?.available}}
                </ion-button>
            </ion-col>
<!--            <ion-col class="ion-no-padding" size="5">-->
<!--                <ion-button color="primary" fill="clear" size="small">-->
<!--                    -->
<!--                </ion-button>-->
<!--            </ion-col>-->

        </ion-row>
    </ion-card>
    <ion-card>
        <!--        <ion-card-content>-->
        <!--                        <p>Price: {{emergency.price}}</p>-->
        <!--                        <p>End At: {{emergency.end_time| date: 'MM/ dd'}}</p>-->
        <!--                        <p *ngIf="emergency.status == 2">-->
        <!--                            Contact: {{emergency.user.phone}}</p>-->
        <!--        </ion-card-content>-->

        <!--                <div *ngIf="emergency.status == 1" class="ion-text-center ion-align-items-center">-->
        <div class="ion-text-center ion-align-items-center" disabled="">
            <ion-button (click)="emergencyConfirm()" disabled="" expand="block">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Accept</div>
            </ion-button>
        </div>
        <!--                <div *ngIf="emergency.status == 2">-->
        <ion-button (click)="requestCancel()" color="danger" disabled="" expand="block">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Cancel</div>
        </ion-button>
        <!--                </div>-->

    </ion-card>
</ion-content>