<ion-header>
    <ion-toolbar>
        <ion-title>medical board Info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Registration number</ion-label>
        <ion-input [(ngModel)]="MedicalBoard.medical_registration_number" max="20" min="6" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary">Registration Date</ion-label>
        <ion-datetime [(ngModel)]="MedicalBoard.registration_date" displayFormat="YYYY-MM-DD" max="2020-12-01" min="1989-06-04"
                      pickerFormat="YYYY MM DD"
                      placeholder="Select Date"></ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label color="primary">Graduation date</ion-label>
        <ion-datetime [(ngModel)]="MedicalBoard.graduation_date" displayFormat="YYYY-MM-DD" max="2020-12-01" min="1989-06-04"
                      pickerFormat="YYYY MM DD"
                      placeholder="Select Date"></ion-datetime>

    </ion-item>

    <ion-item>
        <ion-label color="primary">Specialties</ion-label>
        <ionic-selectable
                [(ngModel)]="MedicalBoard.medical_field_id"
                [canSearch]="true"
                [items]="specialtiesList"
                itemTextField="name"
                itemValueField="id">
        </ionic-selectable>
    </ion-item>


    <ion-item>
        <ion-label position="floating">Years of Experience</ion-label>
        <ion-input [(ngModel)]="MedicalBoard.years_of_experience" type="number"></ion-input>
    </ion-item>
    <br>

    <ion-label color="secondary">Other Information</ion-label>
    <ion-item>
        <ion-label color="tertiary" position="floating">Address</ion-label>
        <ion-input [(ngModel)]="MedicalBoard.address" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="tertiary">Date of birth</ion-label>
        <ion-datetime [(ngModel)]="MedicalBoard.birth_of_date" displayFormat="YYYY-MM-DD" max="2005-12-01" min="1960-06-04"
                      pickerFormat="YYYY MM DD"
                      placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-button (click)="medicalBsaveData()" expand="block">SAVE</ion-button>
</ion-content>
