<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Corona</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <!-- card with header and title inside having images with title and subtitle on it with iterations -->
    <ion-card routerLink="/corona-details">
        <img src="assets/images/cover.jpg"/>
        <ion-card-header>
            <ion-card-title>Basic protective measures against the new coronavirus
            </ion-card-title>

            <!--            <ion-card-subtitle>Wash your hands frequently-->
            <!--            </ion-card-subtitle>-->
        </ion-card-header>
        <ion-button color="danger" expand="block" routerLink="/corona-details">Read More..</ion-button>

    </ion-card>

    <ion-card>
        <img src="assets/images/c1.png"/>
        <ion-card-header>
            <ion-card-title>Protection measures for persons who are in or have recently visited
            </ion-card-title>
        </ion-card-header>
        <ion-button color="danger" expand="block" routerLink="/corona-details">Read More..</ion-button>
    </ion-card>


</ion-content>
