<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Account Type</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <br>
    <ion-list class="ion-padding-horizontal ion-text-center">
        <div>
            <img src="assets/images/vitle.png" width="30%">
        </div>

    </ion-list>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <p class="ion-text-center ion-color-danger">First choose the account type</p>
                <ion-label position="floating">Account type:</ion-label>
                <ion-select [(ngModel)]="account.role">
                    <ion-select-option value="4">Doctor</ion-select-option>
                    <ion-select-option value="5">Pharmacists</ion-select-option>
                    <ion-select-option value="6">Nurse</ion-select-option>
                    <ion-select-option value="7">Other</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-button (click)="userLogin()" [disabled]="!account.role" expand="block">Login</ion-button>
            <ion-button (click)="userRegister()" [disabled]="!account.role" expand="block">Create
                a new
                account
            </ion-button>

        </ion-card-content>

        <p class="ion-text-center">Forgot your password?
            <a href="/password-reset">reset</a>

    </ion-card>
    <br>
    <p class="ion-text-center" style="color: red">v 1.0.4</p>

</ion-content>


