<ion-header>
    <ion-toolbar>
        <ion-title>Requests</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!requestsData" class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ion-content>

<ion-content *ngIf="requestsData">
    <ion-searchbar (ionChange)="searchRequests()" animated showCancelButton="focus"></ion-searchbar>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-down-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
<!--        <ion-item *ngFor="let item of requestsData" routerLink="/request-details/{{item.id}}">-->
        <ion-item *ngFor="let item of requestsData" (click)="openDetails(item)">
            <ion-avatar slot="start">
                <img src="assets/images/1.jpg">
            </ion-avatar>
            <ion-label>
                <p>id: {{item.id}}</p>
                <h2>We Need: {{item.specialties.medical.name}}</h2>
                <h3>Specialized in: {{item.specialties.name}}</h3>
                <h3>Hospital: {{item.name}}</h3>
                <p>Address: {{item.address}}</p>
                <p>data: {{item.created_at}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
