<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Requests</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!requestsData" class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ion-content>

<ion-content *ngIf="requestsData">
    <ion-searchbar (ionCancel)="clearSearch()" (ionChange)="searchRequests()" animated
                   showCancelButton="focus"></ion-searchbar>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-down-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <!--        <ion-item *ngFor="let item of requestsData" routerLink="/request-details/{{item.id}}">-->
        <ion-item (click)="openDetails(item)" *ngFor="let item of requestsData">
            <ion-avatar slot="start">
                <img src="assets/images/{{imageNumber}}.jpg">
            </ion-avatar>
            <ion-label>
                <p>#: {{item?.id}}</p>
                <h2>We Need: {{item.specialties?.medical.name}}</h2>
                <h3>Specialized in: {{item.specialties?.name}}</h3>
                <h3>Hospital: {{item?.name}}</h3>
                <h3>Location: {{item?.address}}</h3>
                <p>Created at: {{item?.created_at | date:'yyyy-MMMM-dd' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
