<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Emergency History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="historyData">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <app-emergency-tabs (click)="goTo()" name="2"></app-emergency-tabs>

    <ion-grid>
        <ion-row>
            <ion-col class="text-amber ion-text-center">Title</ion-col>
            <ion-col class="text-amber ion-text-center">available</ion-col>
            <ion-col class="text-amber ion-text-center">Date</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of historyData">
            <ion-col class="text-blue ion-text-center" routerLink="/request-details/{{item.id}}">{{item.type}}</ion-col>

            <ion-col class="text-amber ion-text-center">
                {{item.available}}
            </ion-col>


            <ion-col class="text-blue-grey ion-text-center"
                     routerLink="/request-details/{{item.id}}">{{item.created_at| date: 'y-MM-d'}}</ion-col>
        </ion-row>
    </ion-grid>


    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<div *ngIf="!historyData">
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
</div>
