<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/tabs/home">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Emergency History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="historyData">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-down-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center bgcolor">Title</ion-col>
            <ion-col class="ion-text-center bgcolor">available</ion-col>
            <ion-col class="ion-text-center bgcolor">Date</ion-col>
            <ion-col class="ion-text-center accolor">Action</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of historyData">
            <ion-col class="ion-text-center"
                     routerLink="/emergency-details/{{item.id}}">{{item.type}}</ion-col>

            <ion-col class="ion-text-center">
                {{item.available}}
            </ion-col>


            <ion-col class="ion-text-center"
                     routerLink="/emergency-details/{{item.id}}">{{item.created_at| date: 'y-MM-d'}}</ion-col>
            <ion-col>
                <ion-button routerLink="/emergency-details/{{item.id}}" size="small">open</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<ion-content *ngIf="!historyData">
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
</ion-content>
