<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            My Wallet
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="card">
        <div class="card-body">
            <ion-item color="secondary">
                My Balance
                <span class="wallet-outline" slot="end"> {{data?.balance}}</span>
            </ion-item>

            <div class="skin-blue">
                <p class="text-d-purple"> Buy More</p>
                <ion-button color="secondary" expand="full" href="tel:{{0114847667}}">Call
                    <ion-icon name="call"></ion-icon>
                </ion-button>
                <ion-button color="danger" expand="full">Bok
                    <ion-icon name="card"></ion-icon>
                </ion-button>

            </div>
        </div>
    </div>
</ion-content>
