<ion-header>
    <ion-toolbar>
        <ion-title>Password reset</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list class="ion-padding-horizontal ion-text-center">
        <div>
            <img src="assets/images/vitle.png" width="30%">
        </div>
    </ion-list>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input [(ngModel)]="passwordResetData" inputmode="decimal" max="10" min="10"
                           type="number"></ion-input>
            </ion-item>

            <ion-button (click)="passwordResetFun()" [disabled]="!passwordResetData" expand="block">Request Reset
            </ion-button>

        </ion-card-content>


        <p class="ion-text-center">Do not have an account?<a href="/"><b>Create
            a new
            account</b></a></p>

    </ion-card>
</ion-content>
