<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic 4 Crop Upload
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding ion-text-center">

    <h5>Select Your Awsome Pic!</h5>

    <ion-button (click)="pickImage()">
        Pick Image
    </ion-button>

    <h5 *ngIf="croppedImagepath.length">Cropped Image</h5>

    <p *ngIf="isLoading">Loading ...</p>

    <img [src]="croppedImagepath" />


</ion-content>
<!--<ion-content class="ion-padding">-->
<!--    <ion-card>-->
<!--        <img *ngIf="!fileUrl" src="assets/images/2.jpg"/>-->
<!--        <img *ngIf="fileUrl" src="{{fileUrl}}"/>-->
<!--        <ion-card-content>-->
<!--            <ion-button (click)="cropUpload()" color="medium" size="large">-->
<!--                <ion-icon name="camera" slot="icon-only"></ion-icon>-->
<!--            </ion-button>-->
<!--        </ion-card-content>-->
<!--    </ion-card>-->
<!--</ion-content>-->
