ion-content ion-toolbar {
  //--background: translucent;

  p {
    text-align: center;
  }


}
ion-icon {
  font-size: xx-large!important;
}

ion-buttons {
  background-color: transparent !important;

}
button {
  background-color: transparent !important;
}
ion-card {
  //background: transparent;
  //box-shadow: none !important;
  //-webkit-box-shadow: none !important;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
}
ion-grid {
  //box-shadow: none !important;
}
p {
  color: black;
  //color: #ffffff;
}
ion-col div {
  border: none !important;

  // background-color: #f0f5ff;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

button {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
  box-shadow: transparent !important;
  //-webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

