<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div routerLink="">
                            <ion-badge color="primary">
                                <ion-icon name="newspaper-outline"></ion-icon>
                            </ion-badge>
                            <p>Request</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-badge color="primary">
                                <ion-icon name="book-outline"></ion-icon>
                            </ion-badge>
                            <p>History</p>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div>
                            <ion-badge color="primary" n-badge>
                                <ion-icon name="wallet-outline"></ion-icon>
                            </ion-badge>
                            <p>Wallet</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-badge color="primary">
                                <ion-icon src="assets/icon/ambulance.svg"></ion-icon>
                            </ion-badge>
                            <p>Ambulance</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
