.blog-page {
  padding: 16px;

  .page-title {
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 2px 0;
    padding: 8px 0;
    margin-bottom: 12px;
    letter-spacing: 1.1px;
    color: rebeccapurple;
  }

  .page-content {
    margin: 0 0 2px;
    font-size: 1.4rem;
    color: black;
    line-height: 1.4;

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  .page-date {
    margin-top: 30px;
    color: #158263;
  }
}
