<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/tabs/setting">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">About US</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
    <br>
    <ion-list class="ion-padding-horizontal ion-text-center">
        <div>
            <img src="assets/images/vitle.png" width="30%">
        </div>

        <p>
            هو عبارة عن تطبيق يسهل من عملية التواصل بين الكوادر الطبية, يساعد الادارات المختلفة في العثور علي مختص في المجال, طبيب او ممرض او صيدلي بالاضافة الي خدمات اخرى مثل الاسعاف و طلب الخدمات العاجلة. تم التنفيذ بواسطة </p>
        <b>DetaTech</b>
        <br>

        <p>
            <b>لخدمات المتوفرة:</b>
        </p>
        <p>1- البحث عن طبيب.</p>
        <p>2- البحث عن اسعاف.</p>
        <p>3- طلب الخدمات المستعجلة و معرفة الاماكن المتوفرة.</p>
        <p>4- خدمات البحث عن الدواء.</p>
        <p>5- تنظيم الملف الطبي.</p>
        <br>
        <hr style="background: black; font-size:4px;">
        <p>
            <b>الاتصال بناء:</b>
        </p>
        <p>
            <a href="mailto: info@vital-helth.com" target="_blank"><b>Support</b>&nbsp; <b>E</b>-mail</a>
        </p>

    </ion-list>
    <p class="ion-text-center" style="color: red">v 1.0.2</p>
</ion-content>