<ion-header>
    <ion-toolbar>
        <ion-title>Requests</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!emergencyData" class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ion-content>

<ion-content *ngIf="emergencyData">
    <ion-searchbar (ionCancel)="clearSearch()" (ionChange)="searchRequests()" animated
                   showCancelButton="focus"></ion-searchbar>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-down-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let item of emergencyData" routerLink="/emergency-details/{{item.id}}">
            <ion-label>
<!--                <p>id: {{item?.id}}</p>-->
                <h2>Name: {{item?.name}}</h2>
                <h3>Type: {{item?.type}}</h3>
                <h3>available: {{item?.available}}</h3>
                <p>Address: {{item?.address}}</p>
                <p>Price per day: {{item?.price_per_day}}</p>
<!--                <p>contact: {{item?.contact}}</p>-->
<!--                <p>Post at: {{item?.created_at}}</p>-->
<!--                <p>Last update at: {{item?.updated_at}}</p>-->
            </ion-label>
            <ion-card-header>

            </ion-card-header>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
