<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Emergency</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-emergency-tabs (click)="goTo()"></app-emergency-tabs>

    <ion-list>
        <ion-item>
            <ion-label>Name:</ion-label>
            <ion-input [(ngModel)]="requestData.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Address:</ion-label>
            <ion-input [(ngModel)]="requestData.address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Contact:</ion-label>
            <ion-input [(ngModel)]="requestData.contact"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Price per day</ion-label>
            <ion-input [(ngModel)]="requestData.price_per_day" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [(ngModel)]="requestData.type" placeholder="Select One">
                <ion-select-option value="Icu">ICU</ion-select-option>
                <ion-select-option value="Emergency">Emergency</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Available:</ion-label>
            <ion-input [(ngModel)]="requestData.available" type="number"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button (click)="sendRequest()" expand="block">
        <div>Create</div>
    </ion-button>
</ion-content>
