<ion-header>
    <ion-toolbar>
        <ion-title>Login - Users</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list class="ion-padding-horizontal ion-text-center">
        <div>
            <img src="assets/images/vitle.png" width="25%">
        </div>
        <h2 color="light" ion-text>

        </h2>
    </ion-list>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input type="text" min="6" max="20" [(ngModel)]="loginData.phone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" min="6" max="20" [(ngModel)]="loginData.password"></ion-input>
            </ion-item>

            <ion-button expand="block" (click)="userLogin()">Login</ion-button>

        </ion-card-content>

        <p>Forgot your password?
            <a href="password_reset">reset</a>

        <p style="text-align: center;margin: 15%;">do not have an account?<a href="register"><b>Create a new
            account</b></a></p>

    </ion-card>
</ion-content>
