<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
    <ion-card *ngIf="userInfo" color="light">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{userInfo?.image}}"/>
            </ion-avatar>
            <ion-label>Welcome, <br>Dr. {{userInfo?.name}}</ion-label>
        </ion-item>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col (click)="requestActionSheet()" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="success">
                    <ion-icon src="assets/icon/hospital.svg"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">Requests</p>
                    </ion-text>
                </ion-card>
            </ion-col>
            <ion-col (click)="emergencyActionSheet()" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="danger">
                    <ion-icon src="assets/icon/icu.svg"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">Emergency</p>
                    </ion-text>
                </ion-card>
            </ion-col>
            <ion-col (click)="ambulanceActionSheet()" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="warning">
                    <ion-icon src="assets/icon/ambulance.svg"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">Ambulance</p>
                    </ion-text>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col routerLink="/tabs/wallet" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="warning">
                    <ion-icon name="wallet"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">My wallet</p>
                    </ion-text>
                </ion-card>
            </ion-col>

            <ion-col (click)="pharmacyActionSheet()" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="secondary">
                    <ion-icon src="assets/icon/pharmacy.svg"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">Pharmacy</p>
                    </ion-text>
                </ion-card>
            </ion-col>
            <ion-col routerLink="/blog" size="4">
                <!-- simple card with icon and text -->
                <ion-card color="success">
                    <ion-icon name="list-circle-outline"></ion-icon>
                    <ion-text>
                        <p class="home-button ion-text-center">Blog</p>
                    </ion-text>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <div *ngIf="response?.user?.status == 2">
        <p class="ion-text-center">Please complete the profile and upload the <strong>CV</strong></p>
        <ion-button (click)="openCvUpdate()" color="danger" expand="block">upload cv</ion-button>
    </div>
</ion-content>
