<ion-header>
    <ion-toolbar>
        <ion-title>request-details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Hospital: {{request.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-avatar slot="start">
                <img src="assets/images/2.jpg">
            </ion-avatar>
            <p>order #: {{request.id}}</p>
            <h2>We Need: {{request.specialties.medical.name}}</h2>
            <h3>Specialized in: {{request.specialties.name}}</h3>
            <p>Address: {{request.address}}</p>
            <p>start at: {{request.start_time}}</p>
            <p>end at: {{request.end_time}}</p>
            <p>work hours: {{request.number_of_hour}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-title>Info</ion-card-title>
        <ion-card-subtitle>The request was created by:</ion-card-subtitle>
        <ion-card-content>
            <h1>Name: {{request.user.name}}</h1>
            <h1>Phone: {{request.user.phone}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-footer class="ion-text-center ion-align-items-center">
        <div *ngIf="request.status == 1">
            <ion-button expand="block" (click)="requestConfirm()">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Accept</div>
            </ion-button>
        </div>
        <div *ngIf="request.status == 2">
            <ion-button color="danger" expand="block" (click)="acceptRequest()">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Cancel</div>
            </ion-button>
        </div>

    </ion-footer>

</ion-content>
