<ion-header>
    <ion-toolbar>
        <ion-title>
            Setting
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="token" color="light">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{userInfo?.image}}"/>
            </ion-avatar>
            <ion-label>Name: {{userInfo?.name}}</ion-label>
        </ion-item>
        <ion-card-header>

            <ion-card-subtitle>Phone: {{userInfo?.phone}}</ion-card-subtitle>

        </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-item color="tertiary" href="tabs/wallet">
            <span style="font-size: large"> My Wallet</span>
            <ion-icon name="wallet-sharp" slot="end"></ion-icon>
        </ion-item>

        <ion-item color="tertiary" href="#">
            <span style="font-size: large"> Profile</span>
            <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>

        <ion-item (click)="openTermsAndConditions()" color="tertiary">
            <span style="font-size: large">Terms and conditions</span>
            <ion-icon name="document-attach-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="openPrivacyPolicy()" color="tertiary">
            <span style="font-size: large"> privacy policy.</span>
            <ion-icon name="file-tray-full-sharp" slot="end"></ion-icon>
        </ion-item>

        <ion-button (click)="logOut()" *ngIf="token" expand="full">
            Logout
            <ion-icon name="log-out" slot="end"></ion-icon>
        </ion-button>

    </ion-list>
</ion-content>
