<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Setting
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="token" color="light">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{userInfo?.image}}" />
            </ion-avatar>
            <ion-label>Name: Dr. {{userInfo?.name}}</ion-label>
        </ion-item>
        <ion-card-header>

            <ion-card-subtitle>Phone: {{userInfo?.phone}}</ion-card-subtitle>

        </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-item href="image-update">
            <span style="font-size: large">Profile</span>
            <ion-icon color="primary" name="image-sharp" slot="end"></ion-icon>
        </ion-item>

        <ion-item href="cv-update">
            <span style="font-size: large">Medical Board</span>
            <ion-icon color="primary" name="document-attach-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item href="tabs/wallet">
            <span style="font-size: large"> My Wallet</span>
            <ion-icon color="primary" name="wallet-sharp" slot="end"></ion-icon>
        </ion-item>

        <ion-item (click)="openTermsAndConditions()">
            <span style="font-size: large">Terms and conditions</span>
            <ion-icon color="primary" name="document-attach-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="openPrivacyPolicy()">
            <span style="font-size: large"> privacy policy.</span>
            <ion-icon color="primary" name="file-tray-full-sharp" slot="end"></ion-icon>
        </ion-item>

        <ion-button color="danger" (click)="logOut()" *ngIf="token" expand="full">
            Logout
        </ion-button>

    </ion-list>
</ion-content>